:root
{
  --details_marker_pad: 0.6em;
  --details_marker_left: calc(var(--details_marker_pad - 0.1em));
}

.flex_container
{
  display: flex;
  /* line-height: 3.5em; */
  align-items: center;
  width: 100%;
}

.flex_between
{
  justify-content: space-between;
}

input
{
  padding: 0;
}

form
{
  width: 100%
}

input, button, select, .radio_enclosure
{
  border-style: none;
  border-radius: 0.4em;
}

button
{
  /* line-height: 2em; */
  padding: 0.75em;
}

input:focus, button:focus, select:focus, details>summary
{
  outline-style: none;
}

details>summary::-webkit-details-marker
{
  display: none;
  /* content: '-'; */
}

summary
{
  /* display: inline; */
  padding-left: var(--details_marker_pad);
}

details::before
{
  position: absolute;
  left: var(--details_marker_left);
}

details:not([open]):before
{
  content: '/';
  padding-right: 0.14em;
}

details[open]:before
{
  content: '-';
}
