main
{
  padding-top: 0.7em;
  /* padding-left: 1em; */
  width: 100%;
}

#name_input
{
  font-size: 2em;
}

ul
{
  list-style-type: none;
  padding-left: 1em;
}

#supervised_list>div>li, #stored_list>div>li
{
  border-radius: 0.3em;
}

/* li::before
{
  content: " - "
} */
