body
{
  min-height: calc(100vh - 16px);
}

main
{
  width: 100%;
  min-width: 31em;
  min-height: calc(100vh - 16px);
}

hr
{
  border-style: solid none none none;
  border-color: var(--shifted_disabled_text_color);
}

#name_input
{
  font-size: 2em;
}

ul
{
  list-style-type: none;
  padding-left: 0;
  transition: height 2s;
}

.other_division>details
{
  width: 100%;
}

.other_division>details>.tab_list
{
  padding-left: 0.5em;
  padding-right: 0.25em;
}

input:focus
{
  color: var(--shifted_text_color);
  background-color: var(--shifted_bg_color);
}

input[type=text]
{
  color: var(--base_text_color);
  background: none;
}

input[type=text]:-webkit-autofill
{
  box-shadow: none !important;
  filter: saturate(0%);
}

button
{
  color: var(--base_text_color);
  background-color: var(--base_bg_color);
  box-shadow: 0 0 0.125em 0.1em rgba(0,0,0,0.1);
  margin-bottom: 0.75em;
  user-select: none;
}

li
{
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.3em;
}

.tab_list>li
{
  width: calc(100% - 1em);

  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flex_around
{
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.column
{
  margin-top: 3em;
  margin-bottom: 3em;
  line-height: 2.2em;
}

.column>p
{
  margin-left: 0.3em;
}

#name_input
{
  margin-left: 3px;
}

#left_column, #right_column
{
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 25%;
  min-width: 8em;
  position: sticky;
  top: 0;
  height: 100%;
}

#left_column>p:first-child, #right_column>p:first-child
{
  user-select: none;
}

#middle_column, .other_division
{
  border-radius: 0.3em;
  background-color: var(--shifted_bg_color);
  box-shadow: var(--base_shadow);
}

#middle_column
{
  width: 40%;
  min-width: 10em;
  padding: 1.5em;
}

.other_division
{
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.other_division>details>summary
{
  display: inline-flex;
  width: calc(100% - var(--details_marker_pad));
  margin: 0;
}

.tab_list>li>.title_span
{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.tab_list>li[show]>.hover_icon,
summary[show]>span>.hover_icon
{
  min-height: 1.5em;
  min-width: 1.5em;
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 100%;
}

summary[show]>span
{
  width: 2.5em;
}

.tab_list>li[show]>.hover_icon
{
  box-shadow: var(--alt_circle_shadow);
}

summary[show]>span>.hover_icon
{
  box-shadow: var(--base_circle_shadow);
}


.tab_list>li[show]>.hover_icon
{
  background-color: var(--shifted_bg_color);
}
summary[show]>span>.hover_icon
{
  display: inline-block;
  background-color:
  /* gray; */
  var(--base_bg_color);
}

.tab_list>li:not([show])>.hover_icon,
summary:not([show])>span>.hover_icon
{
  display: none;
  /* height: 0;
  width: 0;
  opacity: 0; */
}

.focus_icon[show]
{
  background-color: var(--shifted_bg_color);
  min-height: 1.5em;
  min-width: 1.5em;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  border-radius: 50%;
  box-shadow: var(--alt_shadow);
  display: inline;
  /* transition-property: all;
  transition-duration: 1s; */
}

.focus_icon:not([show])
{
  display: none;
  transition: display 1s;
}

.tab_list, .other_division
{
  user-select: none;
  transition: height;
}

.tab_list>li
{
  background-color: var(--base_bg_color);
  box-shadow: var(--alt_shadow);
}
