main
{
  padding: 1.5em;
  margin-left: 1em;
  width: 40%;
  min-width: 35.75em;
  max-width: 50em;
}

.radio_enclosure.flex_container
{
  width: auto;
  justify-content: space-around;
  height: 1.75em;
}

.radio_enclosure.flex_container>.radio_enclosure.flex_container
{
  padding-left: 0.25em;
  padding-right: 0.25em;
  line-height: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.radio_enclosure.flex_container>label
{
  padding-left: 0.25em;
  padding-right: 0.25em;
  background: none;
}

input
{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

input[type=radio]
{
  height: 1.5em;
  width: 1.5em;
  margin: 0em;
  position: relative;
}

input:not([type=radio]), select, option
{
  height: 2em;
  text-align: right;
}

input:not([type=radio]):not(:disabled), select,
 .radio_enclosure[checked]
{
  color: var(--shifted_text_color);
}

input:not([type=radio]), select,
.radio_enclosure[checked]
{
  background-color: var(--shifted_bg_color);
}

input:-webkit-autofill
{
  box-shadow: var(--alt_shadow) !important;
  filter: saturate(0%);
}

input[type=text], input[type=time], select, .radio_enclosure.flex_container[checked]
{
  box-shadow: var(--alt_shadow);
}

label[disabled]
{
  color: var(--base_disabled_text_color);
  text-decoration: line-through;
}

input[type=time]:disabled
{
  color: var(--shifted_disabled_text_color);
}

#options_form>div
{
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button
{
  background-color: var(--shifted_bg_color);
}

#saved_confirm
{
  background-color: rgba(0, 255, 0, 0.5);
}

#invalid_warn
{
  background-color: rgba(255, 255, 0, 0.5);
}

.alert
{
  position: absolute;
  right: 0;
  color: black;

  padding: 0.25em;
  margin: 0.25em;
  border-radius: 0.25em;

  transition: top 0.25s;
}

.alert.active
{
  display: unset;
  top: 0;
  transition-delay: 0.25s;
}

.alert:not(.active)
{
  top: -2em;
}
