main
{
  padding: 1.5em;
  margin-left: 1em;
  width: 40em;
}

.radio_enclosure.flex_container
{
  width: auto;
  justify-content: space-around;
  /* margin-left: 0.25em;
  margin-right: 0.25em; */
  /* padding-left: 0.25em;
  padding-right: 0.25em; */
  height: 1.75em;
}

.radio_enclosure.flex_container>.radio_enclosure.flex_container
{
  /* margin: 0.25em; */
  /* margin-left: 0.25em;
  margin-right: 0.25em; */
  padding-left: 0.25em;
  padding-right: 0.25em;
  line-height: 1em;
}

.radio_enclosure.flex_container>label
{
  padding-left: 0.25em;
  padding-right: 0.25em;
  background: none;
}

input
{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

input[type=radio]
{
  height: 1.5em;
  width: 1.5em;
  margin: 0em;
  position: relative;
  left: 2%;
}

input:not([type=radio]), select, option
{
  height: 2em;
  text-align: right;
}
