:disabled
{
  color: var(--shifted_disabled_text_color);
}

body
{
  color: var(--base_text_color);
  background-color: var(--base_bg_color);
}

ul:empty::before
{
  content: attr(empty_string);
  color: var(--base_disabled_text_color);
}
