:root
{
  /* hsl(220, 4%, 13%) */
  /* hsl(228, 6%, 17%) */
  /* hsl(216, 12%, 92%) */
  --base_text_color: hsl(216, 12%, 90%);
  --shifted_text_color: hsl(216, 12%, 92%);
  --base_bg_color: hsl(220, 4%, 13%);
  --shifted_bg_color: hsl(228, 6%, 17%);
  --disabled_shift: 50%;
  --base_disabled_text_color: hsl(0, 0%, 42%);
  --shifted_disabled_text_color: hsl(0, 0%, 47%);

  --shadow_color: rgba(0,0,0,0.25);
  --base_shadow: transparent;
  --alt_shadow: transparent;
  --base_circle_shadow: 0 0 0.5em 0.025em var(--shadow_color) inset;
  --alt_circle_shadow: 0 0 0.125em 0.05em var(--shadow_color);
  /* --base_shadow: transparent;
  --alt_shadow: transparent; */
  /* --text_fade: var(--base_bg_color); */
  /* --base_text_lightness: 85%;
  --base_bg_lightness: 15%;
  --shift_amount: 10%;
  --base_text_color: hsl(0, 0%, var(--base_text_lightness));
  --shifted_text_color: hsl(0, 0%, calc(var(--base_text_lightness) + var(--shift_amount)));
  --base_bg_color: hsl(0, 0%, 15%);
  --shifted_bg_color: hsl(0, 0%, calc(var(--base_bg_lightness) + var(--shift_amount))); */
}
