:root
{
  --shifted_text_color: hsl(216, 5%, 39%);
  --base_text_color: hsl(216, 5%, 39%);
  --shifted_bg_color: hsl(210, 17%, 98%);
  --base_bg_color: hsl(210, 5%, 93%);
  --disabled_shift: 40%;
  --shifted_disabled_text_color: hsl(0, 0%, 79%);
  --base_disabled_text_color: hsl(0, 0%, 69%);

  --shadow_color: rgba(0,0,0,0.025);
  --circle_shadow_color: rgba(0,0,0,0.08);
  --base_shadow: 0 0 0.25em 0.2em var(--shadow_color);
  --alt_shadow: 0 0 0.125em 0.1em var(--shadow_color) inset;
  --base_circle_shadow: 0 0 0.25em 0.2em var(--circle_shadow_color);
  --alt_circle_shadow: 0 0 0.125em 0.1em var(--circle_shadow_color) inset;
  /* --text_fade: hsl(0, 0%, 92.5%); */


  /* --base_text_lightness: 20%;
  --base_bg_lightness: 93%;
  --shift_amount: 10%;
  --base_text_color: hsl(0, 0%, var(--base_text_lightness));
  --shifted_text_color: hsl(0, 0%, calc(var(--base_text_lightness) - var(--shift_amount)));
  --base_bg_color: hsl(0, 0%, var(--base_bg_color));
  --shifted_bg_color: hsl(0, 0%, calc(var(--base_bg_lightness) - var(--shift_amount))); */
}
